{extend name="base"/}

{block name="title"}完善资料{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>完善资料</h4>
    </div>
<form action="" id="form">
    <input type="hidden" name="id" value="{$req_id}"/>
    <div class="main">
        <div class="apply_list">
            <div class="apply_date">
                <div class="row">
                    <div class="item">
                        <div class="label">姓名</div>
                        <div class="con"><input type="text" name="name" value="{$model['name']}" placeholder="请输入姓名" /></div>
                    </div>
                    <div class="item">
                        <div class="label">身份证号码</div>
                        <div class="con"><input type="text" name="card" value="{$model['card']}" maxlength="18" placeholder="请输入身份证号码" /></div>
                    </div>
                    <div class="item">
                        <div class="label">手机号码</div>
                        <div class="con"><input type="tel" name="phone" value="{$model['phone']}" maxlength="11" placeholder="请输入手机号码" /></div>
                    </div>
                </div>
            </div>

        {volist name="one_data" id="vo"}
        {if(isset($vo['content']))}
        {:widget('PageCrumb/chooseRow',['data'=>$vo])}
        {/if}
        {/volist}
    </div>

<div class="btn_data">
    <a href="javascript:;" id="submit">确认提交</a>
</div>
</form>

{/block}
{block name="script"}
<script>
    $(function(){
        $(".item .con a").click(function () {
            $(this).addClass("checked").siblings().removeClass("checked");
            $(this).parent().siblings('div.item_sub').hide().eq($(this).index()).show();

        });
        $("#submit").click(function(){
            console.log($("form").serialize());
            var info={}
            info.id = $("input[name='id']").val();
            info.name = $("input[name='name']").val();
            info.card = $("input[name='card']").val();
            info.phone = $("input[name='phone']").val();
            var choose_data = [];
            $("#form .checked").each(function(){
                var obj={};
                obj.type = $(this).data('type'),
                    obj.col_id = $(this).data('col_id'),
                    obj.parent_id = $(this).data('parent_id'),
                    obj.child_pid = $(this).data('child_pid'),
                    obj.name = $(this).data('name'),
                    obj.info =  $(this).is(':has(input)')?$(this).find('input').val():$(this).data('info'),
                    obj.is_range = $(this).data('is_range'),
                    choose_data.push(obj)
            })
            info.percent_data = choose_data
            // console.log(info)
            $.post($("#form").attr('action'),info,function(result){
                alert(result.msg)
                if(result.hasOwnProperty('url')){
                    window.location.href=result.url
                }
            })
        })
    })

</script>
{/block}
