{extend name="base"/}

{block name="title"}完善资料{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>完善资料</h4>
    </div>

    <div class="main">
        <form id="form">
            <input type="hidden" name="req_id" value="{$model['id']}"/>
            <div class="apply_date">
                <div class="row">
                    {volist name="$model['content']" id="vo"}
                    <div class="list">
                        <div class="label">{$vo['name']}</div>
                        <div class="con">
                            <input class="num" type="text"  value="{$vo['info']}" name="content[{$key}]"/>
                        </div>
                    </div>
                    {/volist}
                </div>

            </div>

            <div class="btn_data">
                <a href="javascript:;" id="submit">确认提交</a>
            </div>
        </form>
    </div>


{/block}
{block name="script"}
<script>
    $(function(){
        $("#submit").click(function(){
            $.post($("#form").attr('action'),$("#form").serialize(),function(result){
                alert(result.msg)
            })
        })
    })

</script>
{/block}
