{extend name="base"/}

{block name="title"}贷款详情{/block}

{block name="content"}

    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>贷款详情</h4>
    </div>

    <div class="main">
        <div class="apply_status">
            <img src="/static/index/images/apply_status.png">
            <div class="text">
                <p>{:$model?$model::$fields_status[$model['status']].','.$model::$fields_face_status[$model['face_status']].','.$model::$fields_auth_status[$model['auth_status']]:''}</p>
            </div>
        </div>
        <div class="logistics">
            <div class="title">申请进度</div>
            <ul>
                {volist name="model['link_logs']" id="vo"}
                <li>
                    <div class="logistics_track">
                        <div class="track_row">
                            <span class="track">{$vo['title']}</span>
                            <span class="date">{$vo['create_time']}</span>
                        </div>
                        <p>{$vo['intro']}</p>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="apply_det_mode">
            <div class="title">{$model['product_info']['name']}</div>
            <div class="row">
                <div class="item">
                    <label>申请编号</label>
                    <span>{$model['no']}</span>
                </div>
                <div class="item">
                    <label>申请时间</label>
                    <span>{$model['create_time']}</span>
                </div>
                <div class="item">
                    <label>申请额度</label>
                    <span>{$model['money']}.{$money_unit[$model['money_unit']]}</span>
                </div>
                <div class="item">
                    <label>贷款期限</label>
                    <span>{$model['auth_time']}.{$auth_unit[$model['auth_unit']]}</span>
                </div>
                <div class="item">
                    <label>申请人</label>
                    <span>{:$model['name']?$model['name']:''}</span>
                </div>
                <div class="item">
                    <label>联系方式</label>
                    <span>{:$model['phone']?substr_replace($model['phone'],'****',3,4):''}</span>
                </div>
                <div class="item">
                    <label>身份证号</label>
                    <span>{:$model['card']?substr_replace($model['card'],'********','3','11'):''}</span>
                </div>
            </div>
        </div>

        <div class="btn_data">
            <a href="{:url('progress/applyData')}">完善资料</a>
        </div>
    </div>

{/block}
