{extend name="base"/}

{block name="title"}进度查询{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>进度查询</h4>
    </div>
    <div class="my_nav">
        <ul class="my_nav_list">
            <li class="my_nav_list_item {:is_null($status)?'active':''}"><a href="{:url('Progress/index')}">全部</a></li>
            <li class="my_nav_list_item {:$status==1?'active':''}"><a href="{:url('Progress/index',['status'=>1])}">审批中</a></li>
            <li class="my_nav_list_item {:$status==2?'active':''}"><a href="{:url('Progress/index',['status'=>2])}">面谈中</a></li>
            <li class="my_nav_list_item {:$status==3?'active':''}"><a href="{:url('Progress/index',['status'=>3])}">已放款</a></li>
            <li class="my_nav_list_item {:$status==4?'active':''}"><a href="{:url('Progress/index',['status'=>4])}">已拒绝</a></li>
        </ul>
    </div>  
    <div class="main">
        <div class="my_apply_wrap">


            <div class="apply_inner">


            </div>
        </div>
    </div>

{:widget('PageCrumb/footer',['active'=>'progress'])}
{/block}

{block name="script"}
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script>
    var url = "{:url('Progress/showList',['status'=>$status])}";
    var detail_url = "{:url('Progress/detail')}";
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        var show_class = ['verify','success','refuse','discuss','verify']
        flow.load({
            elem: '.apply_inner' //指定列表容器
            ,end:' '
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get(url+'?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var data = res.data
                    var list=data.data
                    console.log(res)
                    if(list.length){
                        layui.each(list, function(index, item){
                            lis.push('<div class="apply_inner_list" id="'+show_class[item.status_color]+'">\n' +
                                '                    <a href="'+detail_url+'?id='+item.id+'">\n' +
                                '                        <div class="module seller">\n' +
                                '                            <div class="shop-name">\n' +
                                '                                <h4>申请编号：'+item.no+'</h4>\n' +
                                '                            </div>\n' +
                                '                            <div class="status">'+item.status_name+'</div>\n' +
                                '                        </div>\n' +
                                '                        <div class="module row">\n' +
                                '                            <div class="item_name">\n' +
                                '                                <div class="text">\n' +
                                '                                    <h4>'+item.name+'</h4>\n' +
                                '                                    <span>申请期限：'+item.auth_time+item.auth_unit_name+'</span>\n' +
                                '                                </div>\n' +
                                '                            </div>\n' +
                                '                            <div class="item_info">\n' +
                                '                                <div class="info_tag">'+item.status_name+'</div>\n' +
                                '                                <div class="info_status">\n' +
                                '                                    <span class="text">'+item.status_intro+'</span>\n' +
                                '                                </div>\n' +
                                '                                <div class="info_bottom">\n' +
                                '                                    <span class="amount">申请金额：'+item.money+item.money_unit_name+'</span>\n' +
                                '                                </div>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </a>\n' +
                                '                </div>');
                        });

                    }else{
                        lis.push('<div class="no-data">\n' +
                            '                <div class="ico"><img src="/static/index/images/no-order.png" alt=""></div>\n' +
                            '                <p>您暂时没有相关的订单哦~</p>\n' +
                            '            </div>')
                    }

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < data.last_page);
                });
            }
        });
    });

</script>
{/block}
