{extend name="base"/}

{block name="title"}进度查询{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>进度查询</h4>
    </div>
    <div class="my_nav">
        <ul class="my_nav_list">
            <li class="my_nav_list_item active"><a href="{:url('Progress/index')}">全部</a></li>
            <li class="my_nav_list_item"><a href="{:url('Progress/index')}">审批中</a></li>
            <li class="my_nav_list_item"><a href="{:url('Progress/index')}">面谈中</a></li>
            <li class="my_nav_list_item"><a href="{:url('Progress/index')}">已放款</a></li>
            <li class="my_nav_list_item"><a href="{:url('Progress/index')}">已拒绝</a></li>
        </ul>
    </div>  
    <div class="main">
        <div class="my_apply_wrap">
            <div class="no-data" style="display:none">
                <div class="ico"><img src="images/no-order.png" alt=""></div>
                <p>您暂时没有相关的订单哦~</p>
            </div>

            <div class="apply_inner">
                <div class="apply_inner_list" id="verify">
                    <a href="{:url('Progress/detail')}">
                        <div class="module seller">
                            <div class="shop-name">
                                <h4>申请编号：IAC201812281530</h4>
                            </div>
                            <div class="status">审批中</div>
                        </div>
                        <div class="module row">
                            <div class="item_name">
                                <div class="text">
                                    <h4>中瀚哲产品A</h4>
                                    <span>申请期限：6个月</span>
                                </div>
                            </div>
                            <div class="item_info">
                                <div class="info_tag">未放原因</div>
                                <div class="info_status">
                                    <span class="text">审批中</span>
                                </div>
                                <div class="info_bottom">
                                    <span class="amount">申请金额：300000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="apply_inner_list" id="discuss">
                    <a href="{:url('Progress/detail')}">
                        <div class="module seller">
                            <div class="shop-name">
                                <h4>申请编号：IAC201812281530</h4>
                            </div>
                            <div class="status">面谈中</div>
                        </div>
                        <div class="module row">
                            <div class="item_name">
                                <div class="text">
                                    <h4>中瀚哲产品A</h4>
                                    <span>申请期限：6个月</span>
                                </div>
                            </div>
                            <div class="item_info">
                                <div class="info_tag">未放原因</div>
                                <div class="info_status">
                                    <span class="text">面谈中</span>
                                </div>
                                <div class="info_bottom">
                                    <span class="amount">申请金额：300000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="apply_inner_list" id="success">
                    <a href="{:url('Progress/detail')}">
                        <div class="module seller">
                            <div class="shop-name">
                                <h4>申请编号：IAC201812281530</h4>
                            </div>
                            <div class="status">已放款</div>
                        </div>
                        <div class="module row">
                            <div class="item_name">
                                <div class="text">
                                    <h4>中瀚哲产品A</h4>
                                    <span>申请期限：6个月</span>
                                </div>
                            </div>
                            <div class="item_info">
                                <div class="info_tag">贷款金额</div>
                                <div class="info_status">
                                    <span class="text">¥30,0000</span>
                                </div>
                                <div class="info_bottom">
                                    <span class="amount">申请金额：300000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="apply_inner_list" id="refuse">
                    <a href="{:url('Progress/detail')}">
                        <div class="module seller">
                            <div class="shop-name">
                                <h4>申请编号：IAC201812281530</h4>
                            </div>
                            <div class="status">已拒绝</div>
                        </div>
                        <div class="module row">
                            <div class="item_name">
                                <div class="text">
                                    <h4>中瀚哲产品A</h4>
                                    <span>申请期限：6个月</span>
                                </div>
                            </div>
                            <div class="item_info">
                                <div class="info_tag">未放原因</div>
                                <div class="info_status">
                                    <span class="text">不满足贷款条件</span>
                                </div>
                                <div class="info_bottom">
                                    <span class="amount">申请金额：300000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

{:widget('PageCrumb/footer',['active'=>'progress'])}
{/block}
