{extend name="base"/}
{block name="style"}
<style>

    /*.layui-layer-btn .layui-layer-btn1{background: #ff5359;color:#fff}*/
    /*.layui-layer-btn .layui-layer-btn2{background: #ff8c3e;color:#fff}*/
</style>
{/block}
{block name="content"}
<div class="pd-20 ">
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-header">项目资料</div>
                <div class="panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="20">
                            <col width="100">
                            <col width="20">
                            <col width="100">
                            <col width="20">
                            <col width="100">
                            <col>
                        </colgroup>

                        <tbody>
                        <tr>
                            <td>项目名称</td>
                            <td>{$model['product_info']['name']}</td>
                            <td></td>
                            <td></td>
                            <td>项目期限</td>
                            <td>{:$model['product_info']['auth_time_start'].($model['product_info']['auth_time_end']?'~'.$model['product_info']['auth_time_end']:'').'('.$auth_unit[$model['product_info']['auth_unit']].')'}</td>
                        </tr>
                        <tr>
                            <td>项目佣金</td>
                            <td>{$model['product_info']['commission']}%</td>
                            <td>项目利息</td>
                            <td>{:$model['product_info']['per'].'('.$per_unit[$model['product_info']['per_unit']].')'}</td>
                            <td>项目额度</td>
                            <td>{:$model['product_info']['money_start'].($model['product_info']['money_end']?'~'.$model['product_info']['money_end']:'').'('.$money_unit[$model['product_info']['money_unit']].')'}</td>
                        </tr>
                        <tr>
                            <td>创建日期</td>
                            <td>{$model['product_info']['create_time']}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-header">其它操作</div>
                <div class="panel-body">
                    {if(!session('admin_user_info.proxy_id') && empty($model['p_auth_mid']))}
                        <a href="javascript:;"  class="layui-btn mb-5" data-id="{$model['id']}" id="opt-pointer">分配业务员</a>
                    {/if}

                    {if($model['auth_status']===0)}
                        <a href="javascript:;"  class="layui-btn" data-id="{$model['id']}" id="req-auth">申请审核</a>

                    {elseif($model['auth_status']==1 && !$model['face_status'])/}
                        <a href="javascript:;"  class="layui-btn" data-id="{$model['id']}" id="face-info">面谈资料</a>

                    {elseif($model['auth_status']==1 && $model['face_status'] && !$model['send_award_status'])/}
                        <a href="javascript:;"  class="layui-btn" data-id="{$model['id']}" id="send-award">放款</a>

                    {/if}

                    {if($model['auth_status']==1 && !$model['is_contract'])}
                        <a href="javascript:;"  class="layui-btn" data-id="{$model['id']}" id="contract">合同</a>
                    {elseif($model['is_contract']==1)/}
                        <a href="{:url('contract',['id'=>$model['id'],'state'=>1])}"  class="layui-btn" data-id="{$model['id']}" target="_blank">查看合同</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-header">
                    申请信息
                    <button type="button"  class="btn btn-warning  size-S radius f-r down-excel">下载excel</button>
                </div>
                <div class="panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col>
                        </colgroup>

                        <tbody>
                        <tr>
                            <td>申请单号</td>
                            <td>{$model['no']}</td>
                            <td></td>
                            <td></td>
                            <td>申请状态</td>
                            <td colspan="3">{:$model?$model::$fields_status[$model['status']].','.$model::$fields_face_status[$model['face_status']].','.$model::$fields_is_contract[$model['is_contract']].','.$model::$fields_auth_status[$model['auth_status']].','.$model::$fields_send_award_status[$model['send_award_status']]:''}</td>
                        </tr>
                        <tr>
                            <td>申请金额</td>
                            <td>{$model['money']}{:$money_unit[$model['money_unit']]}</td>
                            <td>申请期限</td>
                            <td>{$model['auth_time']}{:$auth_unit[$model['auth_unit']]}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>用户名</td>
                            <td>{$model['name']}</td>
                            <td>手机号码</td>
                            <td>{$model['phone']}</td>
                            <td>身份证</td>
                            <td>{$model['card']}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        {for start="0" end="count($model['content'])"  step="4" name="i" }
                            {php}
                                $content = array_slice($model['content'],$i,4);
                            {/php}
                            <tr>
                                <td>{:isset($content[0])?$content[0]['name']:''}</td>
                                <td>{:isset($content[0])?$content[0]['info']:''}</td>
                                <td>{:isset($content[1])?$content[1]['name']:''}</td>
                                <td>{:isset($content[1])?$content[1]['info']:''}</td>
                                <td>{:isset($content[2])?$content[2]['name']:''}</td>
                                <td>{:isset($content[2])?$content[2]['info']:''}</td>
                                <td>{:isset($content[3])?$content[3]['name']:''}</td>
                                <td>{:isset($content[3])?$content[3]['info']:''}</td>
                            </tr>
                        {/for}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-primary mt-10">
                <div class="panel-header">
                    客户信息
                    <button type="button"  class="btn btn-warning  size-S radius f-r down-excel">下载excel</button>
                </div>
                <div class="panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col width="70">
                            <col width="80">
                            <col>
                        </colgroup>

                        <tbody>

                        <tr>
                            <td>用户名</td>
                            <td>{$model['name']}</td>
                            <td>手机号码</td>
                            <td>{$model['phone']}</td>
                            <td>身份证</td>
                            <td>{$model['card']}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {for start="0" end="count($model['percent_data'])"  step="4" name="i" }
                        {php}
                        $content = array_slice($model['percent_data'],$i,4);
                        {/php}
                        <tr>
                            <td>{:isset($content[0])?$content[0]['name']:''}</td>
                            <td>{:isset($content[0])?$content[0]['info']:''}</td>
                            <td>{:isset($content[1])?$content[1]['name']:''}</td>
                            <td>{:isset($content[1])?$content[1]['info']:''}</td>
                            <td>{:isset($content[2])?$content[2]['name']:''}</td>
                            <td>{:isset($content[2])?$content[2]['info']:''}</td>
                            <td>{:isset($content[3])?$content[3]['name']:''}</td>
                            <td>{:isset($content[3])?$content[3]['info']:''}</td>
                        </tr>
                        {/for}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-primary mt-10">
                <div class="panel-header">还款计划</div>
                <div class="panel-body">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>还款总额</th>
                            <th>还款金额</th>
                            <th>还款利息</th>
                            <th>还款状态</th>
                            <th>还款日期</th>
                            <th>还款说明</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="model['link_plan']" id="vo"}
                        <tr>
                            <td>{$vo['date']}</td>
                            <td>{$vo['total_money']}</td>
                            <td>{$vo['money']}</td>
                            <td>{$vo['profit_money']}</td>
                            <td>{:$vo::$fields_status[$vo['status']]}</td>
                            <td>{$vo['back_time']}</td>
                            <td>{$vo['back_intro']}</td>
                            <td><a href="javascript:;"  class="handle-plan" data-date="{$vo['date']}" data-id="{$vo['id']}">处理</a></td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-header">申请日志</div>
                <div class="panel-body pd-5">
                    <ul class="layui-timeline">
                        {volist name="model['link_logs']" id="vo"}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">{$vo['create_time']}</h3>
                                <p>
                                    {$vo['title']}
                                </p>
                                <p>
                                    {$vo['intro']}
                                </p>
                            </div>
                        </li>
                        {/volist}
                    </ul>

                </div>
            </div>
        </div>



    </div>
</div>
<div class="pd-20"  id="face-page" style="display: none">
    <div class="row">
            <div class="layui-form-item">
                <textarea  name="content" rows="6"  placeholder="请输入面谈内容" class="layui-textarea"></textarea>
            </div>
    </div>

</div>
<div class="pd-20"  id="auth-page" style="display: none">
    <div class="row">
            <div class="layui-form-item">
                <textarea  name="content" rows="6"  placeholder="请输入审核内容" class="layui-textarea"></textarea>
            </div>
    </div>

</div>
<div class="pd-20"  id="handle-plan" style="display: none">
    <div class="row">
            <div class="layui-form-item">
                <textarea  name="content" rows="6"  placeholder="请输入还款计划内容" class="layui-textarea"></textarea>
            </div>
    </div>

</div>
<div class="pd-20"  id="handle-pointer" style="display: none">
    <form class="layui-form" action="">
        <div class="row">
                <div class="layui-form-item">

                    <div class="layui-form-item">
                        <label class="layui-form-label">选择业务员</label>
                        <div class="layui-input-inline">
                            <select name="p_auth_mid">
                                {volist name="manage_list" id="vo"}
                                <option value="{$vo['id']}">{$vo['name']}-{$vo['account']}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
        </div>
    </form>

</div>
<div class="pd-20"  id="handle-contract" style="display: none">
    <a href="{:url('User/contract',['id'=>$model['uid']])}" target="_blank">查看合同信息</a>

</div>
{/block}

{block name="script"}
<script type="text/javascript" src="/static/admin/table2excel.js"></script>
<script>
    $(".down-excel").click(function(){
        var table2excel = new Table2Excel();
        table2excel.export($(this).parent().next().find('table'));
    })
    layui.use(['layer','form'], function(){
        var form = layui.form;
        var layer = layui.layer;
        //调用示例
        layer.photos({
            photos: '#layer-photos-demo'
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });

    });

    //面谈
    $("#face-info").click(function(){
        var id = $(this).data('id')
        layer.open({
            title: '面谈信息'
            ,type: 1
            ,content: $("#face-page")
            ,btn: ['确定','取消']
            ,area: ['500px', '300px']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                var content = $("#face-page textarea[name='content']").val()
                $.common.modify("{:url('Req/faceAction')}",{face_content:content,id:id},'是否提交面谈资料')
            }
        })
    })
    //处理还款计划
    $(".handle-plan").click(function(){
        var id = $(this).data('id')
        var date = $(this).data('date')
        layer.open({
            title: '还款计划-'+date
            ,type: 1
            ,content: $("#handle-plan")
            ,btn: ['已还款','取消']
            ,area: ['500px', '300px']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                var content = $("#handle-plan textarea[name='content']").val()
                $.common.modify("{:url('Req/handlePlanAction')}",{back_intro:content,id:id},'是否标记该记录为已还款')
            }
        })
    })
    $("#req-auth").click(function(){
        var id = $(this).data('id')
        layer.open({
            title: '审核项目'
            ,type: 1
            ,content: $("#auth-page")
            ,area: ['500px', '300px']
            ,btn: ['通过', '拒绝', '取消']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                var content = $("#auth-page textarea[name='content']").val()
                $.common.modify("{:url('Req/handleAuth')}",{auth_content:content,auth_status:1,id:id},'是否通过审核')
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                var content = $("#auth-page textarea[name='content']").val()
                $.common.modify("{:url('Req/handleAuth')}",{auth_content:content,auth_status:2,id:id},'是否拒绝审核')
                return false //开启该代码可禁止点击该按钮关闭
            }
            ,success: function (layero) {
                var btn0 = layero.find('.layui-layer-btn0');
                var btn1 = layero.find('.layui-layer-btn1');
                btn1.css('background', '#ff5359');
                btn1.css('border', 'none');
                btn1.css('color', '#fff');
            }
        })
    })

    //指派人员
    $("#opt-pointer").click(function(){
        var id = $(this).data('id')
        layer.open({
            title: '审核指派'
            ,type: 1
            ,content: $("#handle-pointer")
            ,area: ['500px', '300px']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                var p_auth_mid = $("#handle-pointer select[name='p_auth_mid']").val()
                $.common.modify("{:url('Req/pointManager')}",{p_auth_mid:p_auth_mid,id:id},'是否指派?')
            }
            ,success: function (layero) {
                var btn0 = layero.find('.layui-layer-btn0');
                var btn1 = layero.find('.layui-layer-btn1');
                btn1.css('background', '#ff5359');
                btn1.css('border', 'none');
                btn1.css('color', '#fff');
            }
        })
    })

    //签署合同
    $("#contract").click(function(){
        var id = $(this).data('id')
        layer.open({
            title: '确定签订合同?'
            ,type: 1
            ,content: $("#handle-contract")
            ,area: ['500px', '300px']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                $.common.modify("{:url('Req/handleContract')}",{id:id},'是否签订合同?')
            }
            ,success: function (layero) {
                var btn0 = layero.find('.layui-layer-btn0');
                var btn1 = layero.find('.layui-layer-btn1');
                btn1.css('background', '#ff5359');
                btn1.css('border', 'none');
                btn1.css('color', '#fff');
            }
        })
    })

    $("#send-award").click(function(){
        var id = $(this).data('id')
        $.common.confirm("{:url('Req/sendAward')}",{id:id},'是否放款?')
    })

</script>
{/block}