{extend name="base"/}
{block name="title"}管理人员{/block}

{block name="breadcrumb"}申请管理,申请列表{/block}

{block name="content"}

<div class="pd-20">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
		<div class="btn-group">
		  <a href="{:url('')}" class="btn {:$status?'btn-default':'btn-primary'} radius">全部</a>
		  <a href="{:url('',['status'=>1])}" class="btn {:$status==1?'btn-primary':'btn-default'} radius">未审核</a>
		  <a href="{:url('',['status'=>2])}" class="btn {:$status==2?'btn-primary':'btn-default'} radius">未面谈</a>
		  <a href="{:url('',['status'=>3])}" class="btn {:$status==3?'btn-primary':'btn-default'} radius">审核通过</a>
		  <a href="{:url('',['status'=>4])}" class="btn {:$status==4?'btn-primary':'btn-default'} radius">审核拒绝</a>
		  <a href="{:url('',['status'=>5])}" class="btn {:$status==5?'btn-primary':'btn-default'} radius">已放款</a>
		  <a href="{:url('',['status'=>6])}" class="btn {:$status==6?'btn-primary':'btn-default'} radius">已指派</a>
		  <a href="{:url('',['status'=>7])}" class="btn {:$status==7?'btn-primary':'btn-default'} radius">未指派</a>
		  <a href="{:url('',['status'=>8])}" class="btn {:$status==8?'btn-primary':'btn-default'} radius">已完成</a>
		</div>
	</span>
	<span class="col-sm-3 r">
		<form method="get">
			<div class="col-sm-8 inline	">
				<input type="text" class="input-text r" name="keyword" value="{$keyword}" placeholder="文本框">
			</div>
			<div class="col-sm-4 ">
				<button class="	btn btn-primary radius l inline" type="submit">搜索</button>
			</div>
		</form>
	</span>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
		<tr class="text-c">
			<th width="20">序号</th>
			<th width="100">申请编号</th>
			<th width="100">项目名称</th>
			<th width="80">项目类型</th>
			<th width="100">申请用户</th>
			<th width="100">联系方式</th>
			<th width="80">申请额度</th>
			<th width="80">贷款期限</th>
			<th width="130">申请日期</th>
			<th width="150">状态</th>
			<th width="100">操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="list" id="vo"}
			<tr class="text-c">
				<td>{$i}</td>
				<td>{$vo['no']}</td>
				<td>{$vo['product_info']['name']}</td>
				<td>{:isset($type_label[$vo['p_tid']])?$type_label[$vo['p_tid']]['name']:''}</td>
				<td>{$vo['name']}</td>
				<td>{$vo['phone']}</td>
				<td>{$vo['money']}{:$money_unit[$vo['money_unit']]}</td>
				<td>{$vo['auth_time']}{:$auth_unit[$vo['auth_unit']]}</td>
				<td>{$vo['create_time']}</td>
				<td>{:$vo::$fields_status[$vo['status']].','.$vo::$fields_face_status[$vo['face_status']].','.$vo::$fields_is_contract[$vo['is_contract']].','.$vo::$fields_auth_status[$vo['auth_status']].','.$vo::$fields_send_award_status[$vo['send_award_status']]}</td>
				<td>
					<a href="javascript:;" onclick="$.common.openUrl('{:url("detail",['id'=>$vo['id']])}','申请详情')" class="ml-5"> 详情</a>
					{if(!session('admin_user_info.proxy_id') && empty($vo['p_auth_mid']))}
					<a href="javascript:;"  class="ml-5 opt-pointer" data-id="{$vo['id']}"> 分配</a>
					{/if}
				</td>
			</tr>
		{/volist}
		</tbody>
	</table>
	{$list|raw}
</div>
<div class="pd-20"  id="handle-pointer" style="display: none">
	<form class="layui-form" action="">
		<div class="row">
			<div class="layui-form-item">

				<div class="layui-form-item">
					<label class="layui-form-label">选择业务员</label>
					<div class="layui-input-inline">
						<select name="p_auth_mid">
							{volist name="manage_list" id="vo"}
							<option value="{$vo['id']}">{$vo['name']}-{$vo['account']}</option>
							{/volist}
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
{/block}

{block name="script"}
<script>
	layui.use(['form'], function(){
		var form = layui.form;
	});
	//指派人员
	$(".opt-pointer").click(function(){
		var id = $(this).data('id')
		layer.open({
			title: '审核指派'
			,type: 1
			,content: $("#handle-pointer")
			,area: ['500px', '300px']
			,btn: ['确定', '取消']
			,yes: function(index, layero){
				//按钮【按钮一】的回调
				var p_auth_mid = $("#handle-pointer select[name='p_auth_mid']").val()
				$.common.modify("{:url('Req/pointManager')}",{p_auth_mid:p_auth_mid,id:id},'是否指派?')
			}
			,success: function (layero) {
				var btn0 = layero.find('.layui-layer-btn0');
				var btn1 = layero.find('.layui-layer-btn1');
				btn1.css('background', '#ff5359');
				btn1.css('border', 'none');
				btn1.css('color', '#fff');
			}
		})
	})
</script>
{/block}