{extend name="base"/}

{block name="title"}申请贷款{/block}

{block name="content"}
<div class="header">
    <a class="back" href="javascript:history.go(-1)"></a>
    <h4>申请贷款</h4>
</div>
<div class="main">
    <div class="apply_content">


        <form action="{:url('flowAction')}" id="form">
            <input type="hidden" name="id" value="{$id}"/>
            <input type="hidden" name="pid" value="{$model['id']}"/>
            <input type="hidden" name="step" value="{$step}"/>
            <div class="apply_content">

                <div class="apply_process">
                    <div class="item active">
                        <span>1</span>
                        <p>选择产品</p>
                    </div>
                    <div class="item active">
                        <span>2</span>
                        <p>填写信息</p>
                    </div>
                    <div class="item">
                        <span>3</span>
                        <p>申请成功</p>
                    </div>
                </div>
                <div class="apply_data">
                    <div class="apply_list">
                        <div class="item">
                            <div class="label"><font>*</font>姓名</div>
                            <div class="con"><input type="text" name="name" placeholder="请输入姓名" /></div>
                        </div>
                        <div class="item">
                            <div class="label"><font>*</font>身份证号码</div>
                            <div class="con"><input type="text" name="card" maxlength="18" placeholder="请输入身份证号码" /></div>
                        </div>
                        <div class="item">
                            <div class="label"><font>*</font>手机号码</div>
                            <div class="con"><input type="tel" name="phone" maxlength="11" placeholder="请输入手机号码" /></div>
                        </div>
                    </div>

                    {volist name="pro_cond" id="vo"}
                        {if(isset($vo['link_spu']['content']))}
                        {:widget('PageCrumb/chooseRow',['data'=>$vo,'key'=>'link_spu'])}
                        {/if}
                    {/volist}


                </div>



            </div>

        <div class="apply_btn">
            <a href="javascript:;" id="submit" class="btn btn-primary">确定提交</a>
        </div>

        </form>


    </div>
</div>
<!-- 提示框 -->
<aside class="mask works-mask">
    <div class="mask-content">
        <p class="del-p ">您确定要删除图片吗？</p>
        <p class="check-p"><span class="wsdel-no">取消</span><span class="del-com wsdel-ok">确定</span></p>
    </div>
</aside>
{/block}
{block name="script"}
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>

<script type="text/javascript" src="/static/index/js/imgUp.js"></script>
<script>
    layui.use(['layer','upload'], function(){
        layer = layui.layer;
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '{:url("Upload/upload")}' //上传接口
            ,data:{type:'user_card'}
            ,acceptMime:'image/*'
            ,done: function(res){
                //上传完毕回调
                var item = this.item;
                res.path && $(item).parent().parent().append('<section class="up-section fl">' +
                    '<span class="up-span"></span>' +
                    '<span id="close-upimg" class="close-upimg"></span>' +
                    '<img class="up-img" src="'+res.path+'">' +
                    '<p class="img-name-p">banner-1.jpg</p>' +
                    '<input id="tags" name="card_img[]" value="'+res.path+'" type="hidden">' +
                    '</section>'
                )
            }
            ,error: function(){
                //请求异常回调
                layer.msg('上传异常')
            }
        });
    });
    $(function(){
        $(".item .con a").click(function () {
            $(this).addClass("checked").siblings().removeClass("checked");
            $(this).parent().siblings('div.item_sub').hide().eq($(this).index()).show();

        });
        $("#submit").click(function(){
            console.log($("form").serialize());
            var info={}
            info.id = $("input[name='id']").val();
            info.pid = $("input[name='pid']").val();
            info.step = $("input[name='step']").val();
            info.name = $("input[name='name']").val();
            info.card = $("input[name='card']").val();
            info.phone = $("input[name='phone']").val();
            var choose_data = [];
            $("#form .checked").each(function(){
                var obj={};
                obj.type = $(this).data('type'),
                obj.col_id = $(this).data('col_id'),
                obj.parent_id = $(this).data('parent_id'),
                obj.child_pid = $(this).data('child_pid'),
                obj.name = $(this).data('name'),
                obj.info =  $(this).is(':has(input)')?$(this).find('input').val():$(this).data('info'),
                obj.is_range = $(this).data('is_range'),
                choose_data.push(obj)
            })
            info.content = choose_data
            // console.log(info)
            $.post($("#form").attr('action'),info,function(result){
                alert(result.msg)
                if(result.hasOwnProperty('url')){
                    window.location.href=result.url
                }
            })
        })
    })
</script>
{/block}