{extend name="base"/}

{block name="title"}中翰哲{/block}

{block name="content"}
<div class="header">
    <a class="back" href="javascript:history.go(-1)"></a>
    <h4>信用贷款</h4>
</div>
<div class="main">
    <div class="search-wrap clearfix">
        <a class="search" href="search.html" title="搜索放款机构或产品">搜索放款机构或产品</a>
    </div>
    <div class="tab_floor">
        <div class="row">
            <a href="products-list.html">公检法</a>
            <a href="products-list.html">不上征信</a>
            <a href="products-list.html">无抵押</a>
            <a href="products-list.html">负债要求低</a>
            <a href="products-list.html">不考察</a>
            <a href="products-list.html">无违约金</a>
            <a href="products-list.html">只电核本人</a>
            <a href="products-list.html">不看当前逾期</a>
        </div>
        <div class="more">
            <a href="products-list.html">查看更多贷款产品 ></a>
        </div>
    </div>
    <div class="container-floor">
        <div class="filters-nav-wrap">
            <div class="filters filter">
                <ul class="tab clearfix">
                    <li class="moreSort">
                        <span><em>默认排序</em></span>
                    </li>
                    <li class="prcie">
                        <span><em>金额</em></span>
                    </li>
                    <li class="term">
                        <span><em>期限</em></span>
                    </li>
                    <li class="filter">
                        <span><em>筛选</em></span>
                    </li>
                </ul>

                <ul class="filter-select filter-select-sort clearfix" style="display:none;">
                    <li class="on">
                        <a href="javascript:;">默认排序</a>
                    </li>
                    <li>
                        <a href="javascript:;">利率从低到高</a>
                    </li>
                    <li>
                        <a href="javascript:;">奖励从高到低</a>
                    </li>
                </ul>
                <ul class="filter-select filter-select-prcie clearfix" style="display:none;">
                    <li><a href="javascript:;">不限金额</a></li>
                    <li class="select-prcie">
                        <div class="select-prcie-wrap">
                            <div class="input-prcie">
                                <input class="amount" type="tel" name="prcie" placeholder="输入贷款金额" />
                                <font>万</font>
                            </div>
                            <input type="submit" class="btn-submit" value="确定" />
                        </div>
                        <p>可输入贷款范围0.1~3000万</p>
                    </li>
                </ul>
                <ul class="filter-select filter-select-space clearfix" style="display:none;">
                    <li><a href="javascript:;">不限期限</a></li>
                    <li><a href="javascript:;">6个月</a></li>
                    <li><a href="javascript:;">1年</a></li>
                    <li><a href="javascript:;">3年</a></li>
                    <li><a href="javascript:;">5年</a></li>
                    <li><a href="javascript:;">10年</a></li>
                    <li><a href="javascript:;">20年</a></li>
                    <li><a href="javascript:;">30年</a></li>
                </ul>
                <ul class="filter-select filter-select-province clearfix" id="selectTag" style="display:none;">
                    <div class="header">
                        <a class="back" href="javascript:;"></a>
                        <h4>筛选</h4>
                    </div>
                    <div class="sidebar-iteam">
                        <div class="root">
                            <a href="javascript:;" class="option checked">
                                <span>公检法</span>
                            </a>
                            <a href="javascript:;" class="option checked">
                                <span>不上征信</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>无抵押</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>负债要求低</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>不考察</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>无违约金</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>不看当前逾期</span>
                            </a>
                            <a href="javascript:;" class="option">
                                <span>只电核本人</span>
                            </a>
                        </div>
                    </div>
                    <div class="indexbnts">
                        <a href="javascript:;" id="filterReset" class="left">重置</a>
                        <a href="javascript:;" id="filterSubmit" class="right">确定</a>
                    </div>
                </ul>

                <div class="mask" style="display:none;"></div>
            </div>
        </div>

        <div class="goods-floor">
            <div class="row hot">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品A</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
            <div class="row hot">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品A</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
            <div class="row hot">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品A</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品B</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品B</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="products-det.html">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>0.75</em>%</font></h4>
                            <span>月利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>48</em>个月</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>50</em>万</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">中瀚哲产品B</span>
                        <span class="desc">资料简便，放款快</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script src="/static/index/js/filters.js"></script>
<script src="/static/index/js/dropload.min.js"></script>
<script>
    $(function(){
        // 页数
        var page = 0;
        // 每页展示10个
        var size = 10;
        // dropload
        $('.container-floor').dropload({
            scrollArea : window,
            domDown : {
                domClass   : 'dropload-down',
                domRefresh : '<div class="dropload-refresh">上拉加载更多</div>',
                domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                domNoData  : '<div class="dropload-noData">没有更多产品啦~</div>'
            },
            loadDownFn : function(me){
                page++;
                // 拼接HTML
                var result = '';
                $.ajax({
                    type: 'GET',
                    url: '',
                    dataType: 'json',
                    success: function(data){
                        var result = '';
                        for(var i = 0; i < data.lists.length; i++){
                            result +=   '<div class="row"><a href="products-det.html">'
                                +'<div class="goods-info">'
                                +'<div class="item"> <h4><font><em>0.75</em>%</font></h4> <span>月利率低至</span> </div> <div class="item"> <h4><em>48</em>个月</h4> <span>期限长至</span> </div> <div class="item"> <h4><em>50</em>万</h4> <span>额度高至</span> </div>'
                                +'</div>'
                                +'<div class="goods-name">'
                                +'<span class="name">中瀚哲产品A</span> <span class="desc">资料简便，放款快</span>'
                                +'</div>'
                                +'</a></div>';
                        }
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            $('.goods-floor').html(result);
                            // 每次数据加载完，必须重置
                            me.resetload();
                            // 重置页数，重新获取loadDownFn的数据
                            page = 0;
                            // 解锁loadDownFn里锁定的情况
                            me.unlock();
                            me.noData(false);
                        },1000);
                    },
                    error: function(xhr, type){
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            },
            threshold : 40
        });
    });
</script>
{/block}
