{extend name="base"/}

{block name="title"}{:$title_info?$title_info['name']:''}{/block}

{block name="content"}
<div class="header">
    <a class="back" href="{:url('Index/index')}"></a>
    <h4>{:$title_info?$title_info['name']:''}</h4>
</div>
<div class="main">
    <div class="search-wrap clearfix">
        <a class="search" href="{:url('Product/search')}" title="搜索放款机构或产品">搜索放款机构或产品</a>
    </div>
    {if(!request()->param('lid'))}
    <div class="tab_floor">
        <div class="row">
            {volist name="$label_list" id="vo"}
            <a href="{:url('',['type'=>$type,'lid'=>$vo['id']])}">{$vo['name']}</a>
            {/volist}

        </div>
    </div>
    {/if}
    <div class="container-floor">
        <div class="filters-nav-wrap">
            <div class="filters filter">
                <ul class="tab clearfix">
                    <li class="moreSort">
                        <span><em>默认排序</em></span>
                    </li>
                    <li class="prcie">
                        <span><em>金额</em></span>
                    </li>
                    <li class="term">
                        <span><em>期限</em></span>
                    </li>
                    <li class="filter">
                        <span><em>筛选</em></span>
                    </li>
                </ul>

                <ul class="filter-select filter-select-sort clearfix" style="display:none;">
                    <li {:array_key_exists('per',request()->param())?'':(array_key_exists('commission',request()->param())?'':'class="on"')}>
                        <a href="{:url('',['type' => $type,])}">默认排序</a>
                    </li>
                    <li {:request()->param('per')?'class="on"':''}>
                        <a href="{:url('',['type' => $type,'per'=>'asc'])}">利率从低到高</a>
                    </li>
                    <li {:request()->param('commission')?'class="on"':''}>
                        <a href="{:url('',['type' => $type,'commission'=>'desc'])}">奖励从高到低</a>
                    </li>
                </ul>
                <ul class="filter-select filter-select-prcie clearfix" style="display:none;">
                    <li><a href="{:url('',['type' => $type])}">不限金额</a></li>
                    <li class="select-prcie">
                        <form action="{:url('',['type' => $type])}" method="get">
                        <div class="select-prcie-wrap">
                            <div class="input-prcie">
                                <input class="amount" type="number" value="{:request()->param('money_start')}" name="money_start" placeholder="输入贷款金额" />
                                <font>万</font>
                            </div>
                            <input type="submit" class="btn-submit" value="确定" />
                        </div>
                        </form>
                        <p>可输入贷款范围0.1~3000万</p>
                    </li>
                </ul>
                <ul class="filter-select filter-select-space clearfix" style="display:none;">
                    <li {:request()->param('auth_time_start')?'':'class="on"'}><a href="{:url('',['type' => $type])}">不限期限</a></li>
                    <li {:request()->param('auth_time_start')==1?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>1])}">1个月</a></li>
                    <li {:request()->param('auth_time_start')==2?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>2])}">2个月</a></li>
                    <li {:request()->param('auth_time_start')==3?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>3])}">3个月</a></li>
                    <li {:request()->param('auth_time_start')==5?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>5])}">5个月</a></li>
                    <li {:request()->param('auth_time_start')==='10'?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>10])}">10个月</a></li>
                    <li {:request()->param('auth_time_start')==='+10'?'class="on"':''}><a href="{:url('',['type' => $type,'auth_time_start'=>'+10'])}">10个月以上</a></li>
                </ul>
                <ul class="filter-select filter-select-province clearfix" id="selectTag" style="display:none;">
                    <div class="header">
                        <a class="back" href="javascript:;"></a>
                        <h4>筛选</h4>
                    </div>
                    <div class="sidebar-iteam">
                        <div class="root" id="labels">
                            {php}
                                $labels=explode(',',request()->param('lid'));
                            {/php}
                            {volist name="$label_list" id="vo"}
                            <a href="javascript:;"  class="option {:in_array($vo['id'],$labels)?'checked':''}" data-id="{$vo['id']}"><span>{$vo['name']}</span></a>
                            {/volist}

                        </div>
                    </div>
                    <div class="indexbnts">
                        <a href="javascript:;" id="filterReset" class="left">重置</a>
                        <a href="javascript:;" id="filterSubmit" class="right">确定</a>
                    </div>
                </ul>

                <div class="mask" style="display:none;"></div>
            </div>
        </div>

        <div class="goods-floor">

        </div>
    </div>
</div>


{/block}
{block name="script"}
<script src="/static/index/js/filters.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script>
    var url = "{:url('Product/showList',array_merge(request()->param(),['type'=>$type,'lid'=>$lid]))}";
    var detail_url = "{:url('Product/detail')}";
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '.goods-floor' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get(url+'?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var data = res.data
                    var list=data.data

                    layui.each(list, function(index, item){
                        lis.push('<div class="row '+(item.is_hot?'hot':'')+'">\n' +
                            '                <a href="'+detail_url+'?id='+item.id+'&proxy_pro_id="'+item.proxy_pro_id+'>\n' +
                            '                    <div class="goods-name">\n' +
                            '                        <span class="name">'+item.name+'</span>\n' +
                            '                    </div>\n' +
                            '                    <div class="goods-info">\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><font><em>'+item.per+'</em>%</font></h4>\n' +
                            '                            <span>'+item.per_unit+'利率低至</span>\n' +
                            '                        </div>\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><em>'+(item.auth_time_end?item.auth_time_end:item.auth_time_start)+'</em>个'+item.auth_unit+'</h4>\n' +
                            '                            <span>期限长至</span>\n' +
                            '                        </div>\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><em>'+(item.money_end?item.money_end:item.money_start)+'</em>'+item.money_unit+'</h4>\n' +
                            '                            <span>额度高至</span>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="desc">'+item.intro+'</div>\n' +
                            '                </a>\n' +
                            '            </div>');
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < data.last_page);
                });
            }
        });
    });
    //清空
    $("#filterReset").click(function(){
        $("#labels .checked").removeClass('checked')
    })
    //确定搜索
    $("#filterSubmit").click(function(){
        var labels = []
        $("#labels .checked").each(function(){
            labels.push($(this).data('id'))
        })
        window.location.href="{:url('',['type'=>$type])}?lid="+labels
    })

</script>
{/block}
