{extend name="base"/}

{block name="title"}产品搜索{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <div class="search-wrap search-right clearfix">
            <div class="search">
                <input class="input-text" type="text" name="name" placeholder="请输入产品姓名" id="newinput" autofocus="autofocus">
            </div>
            <button type="submit" class="btn-submit">搜索</button>
        </div>
    </div>    
    <div class="main">
        <div class="container-floor">
            <div class="goods-floor">
                <div class="row hot">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品A</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
                <div class="row hot">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品A</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
                <div class="row hot">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品A</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品B</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品B</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="products-det.html">
                        <div class="goods-info">
                            <div class="item">
                                <h4><font><em>0.75</em>%</font></h4>
                                <span>月利率低至</span>
                            </div>
                            <div class="item">
                                <h4><em>48</em>个月</h4>
                                <span>期限长至</span>
                            </div>
                            <div class="item">
                                <h4><em>50</em>万</h4>
                                <span>额度高至</span>
                            </div>
                        </div>
                        <div class="goods-name">
                            <span class="name">中瀚哲产品B</span>
                            <span class="desc">资料简便，放款快</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{/block}