{extend name="base"/}

{block name="title"}产品搜索{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <div class="search-wrap search-right clearfix">
            <div class="search">
                <input class="input-text" type="text" name="name" placeholder="请输入产品姓名" id="newinput" autofocus="autofocus">
            </div>
            <button type="submit" class="btn-submit">搜索</button>
        </div>
    </div>    
    <div class="main">
        <div class="container-floor">
            <div class="goods-floor">

            </div>
        </div>
    </div>
{/block}


{block name="script"}
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script>
    var url = "{:url('Product/showList')}";
    var detail_url = "{:url('Product/detail')}";
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '.goods-floor' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get(url+'?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var data = res.data
                    var list=data.data
                    console.log(res)
                    layui.each(list, function(index, item){
                        lis.push('<div class="row '+(item.is_hot?'hot':'')+'">\n' +
                            '                <a href="'+detail_url+'?id='+item.id+'">\n' +
                            '                    <div class="goods-info">\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><font><em>'+item.per+'</em>%</font></h4>\n' +
                            '                            <span>'+item.per_unit+'利率低至</span>\n' +
                            '                        </div>\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><em>'+item.auth_time_start+(item.auth_time_end?'-'+item.auth_time_end:'')+'</em>个'+item.auth_unit+'</h4>\n' +
                            '                            <span>期限长至</span>\n' +
                            '                        </div>\n' +
                            '                        <div class="item">\n' +
                            '                            <h4><em>'+item.money_start+(item.money_end?'-'+item.money_end:'')+'</em>'+item.money_unit+'</h4>\n' +
                            '                            <span>额度高至</span>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="goods-name">\n' +
                            '                        <span class="name">'+item.name+'</span>\n' +
                            '                        <span class="desc">'+item.intro+'</span>\n' +
                            '                    </div>\n' +
                            '                </a>\n' +
                            '            </div>');
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < data.last_page);
                });
            }
        });
    });

</script>
{/block}