{extend name="base"/}

{block name="title"}中翰哲{/block}

{block name="content"}
<div class="header">
    <h4>首页</h4>
    <a class="icon right service" href="tel:400-755-1788"></a>
</div>
<div class="main">
    <div class="banner slider-wrap">
        <div class="swiper-container swiper-container-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:;"><img src="/static/index/images/banner-1.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:;"><img src="/static/index/images/banner-2.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:;"><img src="/static/index/images/banner-1.jpg" /></a>
                </div>
            </div>
            <div class="pagination banner-pagination"></div>
        </div>
    </div>

    <div class="nav_col_4">
        <a href="products.html" class="item"><img src="/static/index/images/nav-1.png"><span>信用贷款</span></a>
        <a href="products.html" class="item"><img src="/static/index/images/nav-2.png"><span>房产抵押</span></a>
        <a href="products.html" class="item"><img src="/static/index/images/nav-3.png"><span>车辆抵押</span></a>
        <a href="products.html" class="item"><img src="/static/index/images/nav-4.png"><span>极速网贷</span></a>
    </div>

    <div class="headline col-radius aui-margin-b-10 clearfix">
        <div class="headlines_left"><img src="/static/index/images/headlines.png"></div>
        <div class="headlines_right">
            <div class="swiper-container swiper-headlines">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide swiper-no-swiping">恭喜！137****0153的用户成功借款2万</li>
                    <li class="swiper-slide swiper-no-swiping">恭喜！137****0153的用户成功借款2万</li>
                    <li class="swiper-slide swiper-no-swiping">恭喜！137****0153的用户成功借款2万</li>
                    <li class="swiper-slide swiper-no-swiping">恭喜！137****0153的用户成功借款2万</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-floor">
        <div class="title_wrap clearfix">
            <div class="title-left">
                <img src="/static/index/images/index_icon_hot.png">
                <span>热门产品</span>
            </div>
        </div>
        <div class="goods-floor">
            {volist name="product_list" id="vo"}
            <div class="row {:$vo['is_hot']?'hot':''}">
                <a href="{:url('product/detail',['id'=>$vo['id']])}">
                    <div class="goods-info">
                        <div class="item">
                            <h4><font><em>{$vo['per']}</em>%</font></h4>
                            <span>{:$vo::$per_unit[$vo['per_unit']]}利率低至</span>
                        </div>
                        <div class="item">
                            <h4><em>{:$vo['auth_time_end']?$vo['auth_time_end']:$vo['auth_time_start']}</em>个{:$vo::$auth_unit[$vo['auth_unit']]}</h4>
                            <span>期限长至</span>
                        </div>
                        <div class="item">
                            <h4><em>{:$vo['money_end']?$vo['money_end']:$vo['money_start']}</em>{:$vo::$money_unit[$vo['money_unit']]}</h4>
                            <span>额度高至</span>
                        </div>
                    </div>
                    <div class="goods-name">
                        <span class="name">{$vo['name']}</span>
                        <span class="desc">{$vo['intro']}</span>
                    </div>
                </a>
            </div>
            {/volist}
        </div>
    </div>

    <div class="container-floor">
        <div class="title_wrap clearfix">
            <div class="title-left">
                <img src="/static/index/images/index_icon_hot.png">
                <span>贷款资讯</span>
            </div>
            <div class="title-right">
                <a href="news.html" class="more">更多</a>
            </div>
        </div>
        <div class="news-floor">
            <div class="item">
                <a href="news-det.html">
                    <div class="img"><img src="/static/index/images/news-1.jpg" alt="" /></div>
                    <div class="txt">
                        <h4>什么是贷款用途证明？贷款为何没它不行！</h4>
                        <div class="info">
                            <span class="date">2018-12-19</span>
                            <span class="view">3452</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="news-det.html">
                    <div class="img"><img src="/static/index/images/news-2.jpg" alt="" /></div>
                    <div class="txt">
                        <h4>网贷四大指标11年来首次同比下降</h4>
                        <div class="info">
                            <span class="date">2018-12-19</span>
                            <span class="view">3452</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="news-det.html">
                    <div class="img"><img src="/static/index/images/news-3.jpg" alt="" /></div>
                    <div class="txt">
                        <h4>新版征信5大变化揭秘</h4>
                        <div class="info">
                            <span class="date">2018-12-19</span>
                            <span class="view">3452</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

<div class="footer">
    <div class="footer_bar">
        <div class="item active">
            <a href="home_member.html">
                <div class="icon sy-icon"></div>
                <div class="tab-label">首页</div>
            </a>
        </div>
        <div class="item">
            <a href="progress.html">
                <div class="icon prog-icon"></div>
                <div class="tab-label">进度</div>
            </a>
        </div>
        <div class="item">
            <a href="message.html">
                <div class="icon mess-icon"></div>
                <div class="tab-label">消息</div>
            </a>
        </div>
        <div class="item">
            <a href="member.html">
                <div class="icon my-icon"></div>
                <div class="tab-label">我的</div>
            </a>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" src="/static/index/js/swiper.min.js"></script>
<script type="text/javascript">
    // banner
    var bannerSwiper = new Swiper('.swiper-container-banner', {
        pagination: '.banner-pagination',
        autoplay: 5000,
        loop: true,
        spaceBetween: 0
    });
    //头条
    var swiper = new Swiper('.swiper-headlines', {
        direction: 'vertical',
        loop: true,
        autoplay: 5000,
        speed:500,
        slidesPerView: 1,
        noSwiping: true,
    });
</script>
{/block}
