{extend name="base"/}
{block name="content"}
    <div class="login_body">
        <div class="login_logo">
            <img src="/static/index/images/logo.png" />
            <span class="name">短信验证码登录</span>
        </div>

        <div class="login_wrap" id="codelogin">
            <div class="item">
                <div class="icon icon1"></div>
                <div class="mui-input-row">
                    <input class="phone mui-input-clear" type="tel" name="phone_verify" maxlength="11" placeholder="请输入手机号码"　/>
                </div>
            </div>
            <div class="item">
                <div class="icon icon2"></div>
                <div class="mui-input-row" style="margin-right:100px;">
                    <input class="phonecode mui-input-clear" type="tel" name="verify" maxlength="6"  placeholder="验证码"　/>
                </div>
                <button type="button" id="get-verify"  onclick="$.common.sendVerify(this)" data-phone="" data-type="1" class="code">获取验证码</button>
            </div>
        </div>
        <div class="login_wrap" id="namelogin">
            <div class="item">
                <div class="icon icon1"></div>
                <div class="mui-input-row">
                    <input class="username mui-input-clear" type="text" name="phone" maxlength="11" placeholder="请输入手机号码"　/>
                </div>
            </div>
            <div class="item">
                <div class="icon icon2"></div>
                <div class="mui-input-row">
                    <input class="password mui-input-clear" type="password" name="password" placeholder="请输入密码"　/>
                </div>
            </div>
        </div>
        <div class="login_tab">
            <a href="javascript:;" id="mode" onclick="changeState(this)" data-change="1">账号密码登录</a>
        </div>
        
        <div class="login_footer">
            <a href="javascript:;"  id="loginBtn" class="btn btn-primary">登　录</a>
            <div class="info clearfix">
                <a href="{:url('index/forget')}" class="fl">忘记密码？</a>
                {if(cookie('identity_type')!=2)}
                <a href="{:url('index/reg')}" class="fr">快速注册</a>
                {/if}
            </div>            
        </div>

        <div class="agreement clearfix">
            <div class="checkbox">
                <p><input type="checkbox" name="agree"  checked id="agree"><label>我已认真阅读并同意</label><a href="javascript:;" class="on_pop">《中瀚哲服务协议》</a></p>
            </div>
        </div>

    </div>

<!--《中瀚哲服务协议》-->
{:widget('PageCrumb/serviceProtocol')}
{/block}

{block name="script"}
    <script type="text/javascript">
        function changeState(e) {
            var state = $(e).attr("data-change");
            if (state == 1) {
                $(e).html("短信验证码登录");
                $(e).attr("data-change", 0);
                $("#namelogin").css("display", "block");
                $("#codelogin").css("display", "none");
                $('.name').html("账号密码登录");
            } else {
                $(e).html("账号密码登录");
                $(e).attr("data-change", 1);
                $("#namelogin").css("display", "none");
                $("#codelogin").css("display", "block");
                $('.name').html("短信验证码登录");
            }
        };
        $('.on_pop').click(function(){ 
            $('.pact_pop').show();
        });
        $('.close').click(function(){ 
            $('.pact_pop').hide();
        });

        $("input[name='phone_verify']").change(function(){
            $("#get-verify").data('phone',$(this).val())
        })

        $("#loginBtn").click(function(){
            var agree = $("input[name='agree']").prop('checked')
            var phone_verify = $("input[name='phone_verify']").val()
            var verify = $("input[name='verify']").val()
            var phone = $("input[name='phone']").val()
            var password = $("input[name='password']").val()

            var mode = $("#mode").data('change')
            if(!agree){
                alert('请先同意协议')
                return false;
            }

            var obj={mode:mode}
            if(mode) {
                //手机号登录
                obj.phone=phone_verify;
                obj.verify=verify;
            }else{
                //帐号密码登录
                obj.phone=phone;
                obj.password=password;
            }

            $.post("{:url('')}",obj,function(result){
                console.log(result)
                alert(result.msg)
                if(result.code==1){
                    setTimeout(function(){window.location.href=result.url},1000)
                }
            })

        })

    </script>
{/block}
