{extend name="base"/}
{block name="title"}管理人员{/block}

{block name="breadcrumb"}{/block}

{block name="content"}
<div class="pd-20">
	<form class="layui-form" action="">
		<input type="hidden" name="id" value="{$model['id']}"/>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" name="name" value="{$model['name']}"  placeholder="用户名" autocomplete="off" maxlength="20" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">管理员帐号</label>
			<div class="layui-input-block">
				<input type="text" name="account"  value="{$model['account']}" placeholder="管理员帐号" autocomplete="off" maxlength="20" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-inline">
				<input type="password" name="password" placeholder="密码" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">不得低于6位</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角色</label>
			<div class="layui-input-block">
				<select name="rid">
					{volist name="model_role" id="vo"}
						<option value="{$vo['id']}">{$vo['name']}</option>
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="radio" name="status" value="1" title="启用" {:$model['status']!=2?'checked':''}>
				<input type="radio" name="status" value="2" title="禁用"  {:$model['status']==2?'checked':''}>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn"  lay-submit lay-filter="formDemo" >立即提交</button>
			</div>
		</div>
	</form>
</div>

{/block}
{block name="script"}
<script>
	//Demo
	layui.use('form', function(){
		var form = layui.form;

		//监听提交
		form.on('submit(formDemo)', $.common.formSubmit);
	});
</script>
{/block}