{extend name="base"/}
{block name="title"}管理人员{/block}

{block name="breadcrumb"}系统管理,管理员管理,管理员列表{/block}

{block name="content"}

<div class="pd-20">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
    	<a href="javascript:;" onclick="$.common.openUrl('{:url("roleAdd")}','添加')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加</a>
	</span>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
		<tr class="text-c">
			<th width="100">部门</th>
			<th width="100">角色名</th>
			<th width="100">操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="list" id="vo"}
			<tr class="text-c">
				<td rowspan="{:count($vo['link_child'])+1}">{$vo['name']}</td>
				<td>--</td>
				<td>
					<a href="javascript:;" onclick="$.common.openUrl('{:url("roleAdd",['id'=>$vo['id']])}','编辑')" > 编辑</a>
					<a href="javascript:;" onclick="$.common.del('{:url("roleDel",['id'=>$vo['id']])}')" 	>删除</a>
				</td>
			</tr>
			{volist name="vo['link_child']" id="item"}
				<tr class="text-c">
					<td>{$item['name']}</td>
					<td>
						<a href="javascript:;" onclick="$.common.openUrl('{:url("roleAdd",['id'=>$item['id']])}','编辑')" > 编辑</a>
						<a href="javascript:;" onclick="$.common.del('{:url("roleDel",['id'=>$item['id']])}')" 	>删除</a>
					</td>
				</tr>
			{/volist}
		{/volist}
		</tbody>
	</table>
</div>

{/block}