{extend name="base"/}

{block name="title"}媒体报道{/block}

{block name="content"}
    <div class="header">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h4>媒体报道</h4>
    </div>    
    <div class="main">
        <div class="container-floor">
            <div class="news-floor">

            </div>
        </div>
    </div>

{/block}
{block name="script"}
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script>
    var url = "{:url('Article/index')}";
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '.news-floor' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get(url+'?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var list=res.data.data
                    layui.each(list, function(index, item){
                        lis.push('<div class="item"><a href="'+url+'?id='+item.id+'">'
                            +'<div class="img"><img src="'+item.img+'" alt="" /></div>'
                            +'<div class="txt">'
                            +'<h4>'+item.title+'</h4>'
                            +'<div class="info">'
                            +'<span class="date">'+item.send_time+'</span>'
                            +'<span class="view">'+item.view+'</span>'
                            +'</div>'
                            +'</div>'
                            +'</a></div>');
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.last_page);
                });
            }
        });
    });

</script>

{/block}
