<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>{block name="title"}中翰哲{/block}</title>
    <meta name="keywords" content="中瀚哲">
    <meta name="description" content="中瀚哲">
    <link rel="stylesheet" type="text/css" href="/static/index/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/fonts/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/swiper.min.css" />
    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/index/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/index/handle.js"></script>
</head>
{block name="style"}{/block}
<body>
{block name="content"}{/block}

</body>
</html>
{block name="script"}{/block}