{extend name="base"/}

{block name="title"}我的{/block}

{block name="content"}
    <div class="header">
        <h4>我的</h4>
    </div>    
    <div class="main">
        <div class="member">
            <div class="member_avatar">
                <a href="{:url('Mine/personal')}">
                    <div class="avatar"><img src="{:$user_model_info['face']}"></div>
                    <div class="name">{$user_model_info['name']}</div>
                    <div class="identity">合作方-CR</div>
                </a>
            </div>
            <div class="menber_income">
                <a href="my_income.html">
                    <span>我的收益(元)</span>
                    <span class="price">{$user_model_info['money']}</span>
                    <span class="tixian">提现</span>
                </a>
            </div>
            <div class="my_homepage">
                <a href="my_home.html">
                    <i class="icon iconfont icon-wodekehu"></i>
                    <span>我的主页</span>
                </a>
            </div>
            <ul>
                <li><a href="my_loan.html"><i class="icon iconfont icon-daikuan"></i><span>我的借款</span></a></li>
                <li><a href="{:url('about')}"><i class="icon iconfont icon-guanyu"></i><span>关于中瀚哲</span></a></li>
                <li><a href="{:url('article/index')}"><i class="icon iconfont icon-laba"></i><span>媒体报道</span></a></li>
                <li><a href="{:url('suggest')}"><i class="icon iconfont icon-yijianfankui"></i><span>意见反馈</span></a></li>
                <li><a href="contact.html"><i class="icon iconfont icon-kefu"></i><span>联系客服</span></a></li>
            </ul>
            <div class="bottom_info">
                <p><i class="icon iconfont icon-dianhua"></i>客服电话：{:widget('PageCrumb/getSettingInfo',['type'=>'company_info','filed'=>'tel'])}</p>
                <p>{:widget('PageCrumb/getSettingInfo',['type'=>'company_info','filed'=>'icp'])}</p>
            </div>
        </div>
    </div>

{:widget('PageCrumb/footer',['active'=>'mine'])}
{/block}