{extend name="base"/}

{block name="title"}我的借款{/block}
{block name="style"}
<style>
    #city_inner{padding-right: 10px}
</style>
{/block}
{block name="content"}
<div class="header">
    <a class="back" href="javascript:history.go(-1)"></a>
    <h4>我的借款</h4>
</div>
<div class="main">
    <div class="my_loan">
        <ul class="show-list">

        </ul>
    </div>
</div>
{/block}
{block name="script"}
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script>
    var url = "{:url('Mine/showLoanList')}";
    var req_detail = "{:url('Progress/detail')}";
    var loanDetail = "{:url('Mine/loanDetail')}";
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '.show-list' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get(url+'?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var data = res.data
                    var list=data.data
                    layui.each(list, function(index, item){
                        lis.push('<li>\n' +
                            '                <a href="'+(item.auth_status!=1?req_detail:loanDetail)+'?id='+item.id+'">\n' +
                            '                    <div class="date">\n' +
                            '                        <p>申请时间<br />'+item.create_time+'</p>\n' +
                            '                    </div>\n' +
                            '                    <div class="amount">\n' +
                            '                        <h3><span>¥</span>'+item.money+'</h3>\n' +
                            '                        <p>期限：'+item.auth_time+item.auth_unit_name+'</p>\n' +
                            '                    </div>\n' +
                            '                    <div class="status">\n' +
                            '                        <span>'+item.status_name+'</span>\n' +
                            '                    </div>\n' +
                            '                </a>\n' +
                            '            </li>');
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < data.last_page);
                });
            }
        });
    });

</script>

{/block}
{/block}