{extend name="base"/}
{block name="title"}管理人员{/block}

{block name="breadcrumb"}产品管理,产品标签列表{/block}

{block name="content"}

<div class="pd-20">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
    	<a href="javascript:;" onclick="$.common.openUrl('{:url("labelsAdd")}','添加标签')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加标签</a>
	</span>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
		<tr class="text-c">
			<th width="80">分类</th>
			<th width="100">标签名</th>
			<th width="70">状态</th>
			<th width="100">操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="type_label_data" id="vo"}
			<tr class="text-c">
				<td rowspan="{:count($vo['data'])+1}">{$vo['name']}（<a  href="javascript:;" onclick="$.common.openUrl('{:url("productCond",['type'=>$vo['type']])}','（{$vo['name']}）贷款条件信息')" >贷款条件信息</a>）</td>
				{if(!$vo['data'])}
				<td></td>
				<td></td>
				<td></td>
				{/if}
			</tr>
			{volist name="vo['data']" id="child"}
				<tr class="text-c">
					<td>{$child['name']}</td>
					<td>{:$label_fields_status[$child['status']]}</td>
					<td>
						<a href="javascript:;" onclick="$.common.openUrl('{:url("labelsAdd",['id'=>$child['id']])}','编辑')" class="ml-5"> 编辑</a>
						<a href="javascript:;" onclick="$.common.del('{:url("labelsDel",['id'=>$child['id']])}','删除')" class="ml-5"> 删除</a>
					</td>
				</tr>
			{/volist}
		{/volist}

		<tr class="text-c">
			<td>贷款匹配（<a  href="javascript:;" onclick="$.common.openUrl('{:url("productSearchCond")}','（贷款匹配）贷款匹配')" >贷款匹配</a>）</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="text-c">
			<td>完善资料（<a  href="javascript:;" onclick="$.common.openUrl('{:url("perfectData")}','（完善资料）完善资料')" >完善资料</a>）</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

</div>

{/block}
{block name="script"}
<script>
	function updateSort(targ){

		data={id:$(targ).attr('data-id'),sort:$(targ).val()};
		$.post('labelsSort',data,function(result){
			layer.msg(result.msg)
			if(result.code == 1){

				setTimeout(function(){window.location.href=result.url;},1000)
			}
		})

	}
</script>
{/block}