<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/admin/lib//html5shiv.js"></script>
<script type="text/javascript" src="/static/admin/lib//respond.min.js"></script>
<![endif]-->
<link href="/static/admin/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/lib//Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]>
<script type="text/javascript" src="/static/admin/lib//DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>中瀚哲-后台登录</title>
<meta name="keywords" content="中瀚哲">
<meta name="description" content="中瀚哲">
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="layui-form form-horizontal" action="" method="post">

      <div class="layui-form-item row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8 ">
          <input  name="account" type="text" placeholder="账户" class="input-text size-L " required  lay-verify="required">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input  name="password" type="password" placeholder="密码" class="input-text size-L" required  lay-verify="required">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">

          <input name="code" class="input-text size-L" type="text" placeholder="验证码"   style="width:150px;" required  lay-verify="required">
          <img src="{:captcha_src()}" alt="captcha" class="verifyimg reloadverify"/> <a id="kanbuq" href="javascript:;" class="verifyimg reloadverify">看不清，换一张</a> </div>
      </div>
      <!--<div class="row cl">-->
        <!--<div class="formControls col-xs-8 col-xs-offset-3">-->
          <!--<label for="online">-->
            <!--<input type="checkbox" name="online" id="online" value="">-->
            <!--使我保持登录状态</label>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <button type="button" class="btn btn-success radius size-L layui-btn"   lay-submit lay-filter="formDemo">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</button>

          <button type="reset" class="btn btn-default radius size-L layui-btn layui-btn-primary">&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 中瀚哲</div>
<script type="text/javascript" src="/static/admin/lib//jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/static//h-ui/js/H-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/lib/layui-v2.4.5/css/layui.css">
<script type="text/javascript" src="/static/admin/lib/layui-v2.4.5/layui.js"></script>
<script type="text/javascript" src="/static/admin/handle.js"></script>
<script>
$(function(){
  var verifyimg = $(".verifyimg").attr("src");
  $(".reloadverify").click(function(){
    if( verifyimg.indexOf('?')>0){
      $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
    }else{
      $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
    }
  });
  layui.use('form', function(){
    var form = layui.form;
    //监听提交
    form.on('submit(formDemo)', function(obj){
      $.post($(obj.form).attr('action'),obj.field,function(result){
        layer.msg(result.msg)
        if(result.code==1){

          // console.log(result.url);
          setTimeout(function(){window.location.href=result.url;},1000)
        }
        $(".reloadverify").click()
      })
      return false;
    });

  });
})


</script>
</body>
</html>